### JetBrains template
/.idea/

### Laravel template
/vendor/
node_modules/
npm-debug.log
yarn-error.log
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
